body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* background-color: #8a6f6f; */
}

.container-wrapper {
    background-image: url('../../assets/10001.svg');
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #F7F7F7;
    width: 100%;
    background-position: center;
    align-items: center;
   height: 75vh;
   padding: 20px;
}
.inner-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
}
