.signUp_container {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 60px;
}

.signUp_container h2 {
  font-size: 25px;
  margin-top: 20px;
}

.signUp_container h2,
p {
  text-align: center;
}

.signUp_container p a {
  margin-left: 5px;
  color: var(--secondary-color);
}

.signUp_container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup {
  position: relative;
  width: 100%; /* Inputs take 80% of the container */
  margin: 0 auto; /* Center the inputs */
}

.signUp_container form input {
  font-size: 15px;
  padding: 20px 16px;
  height: 45px;
  border: 1px solid rgb(236, 230, 230);
  outline: 1px solid rgb(249, 245, 245);
  border-radius: 0; /* Remove border-radius */
  background-color: white;
}

.errorMessage {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-left: 5px;
}

.signUp_container form input:focus {
  border-bottom: 2.5px solid transparent;
  outline: none;
}

/* .formGroup:focus-within::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2.5px;
  background: var(--secondary-color);
  animation: borderBottomAnimation 0.4s ease-in-out forwards;
} */

@keyframes borderBottomAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.username_input {
  margin-top: 40px;
}

.nameFields {
  display: flex;
  gap: 10px;
  width: 100%; 
  margin: 0 auto; 
}

.formGroup {
  flex: 1;
}

.centeredText {
  text-align: center;
  margin-top: 5px;
  margin: 5px auto; /* Center the text */
}

.centeredText a {
  color: var(--secondary-color);
}

.signUp_Button {
  border: none;
  background-color: #0b5ed7;
  background-color: var(--old-button-color);
  border-radius: 5px;
  width: 80%; /* Match input width */
  margin: 5px auto; /* Center the button */
  height: 46px;
  cursor: pointer;
  color: white;
  font-weight: 550;
  font-size: 15px;
}

.signUp_Button:hover {
  background-color: var(--old-button-hover-color);
}

.toggleButton {
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  font-size: 15px;
}

/* Removed hover effect */
.toggleButton:hover {
  text-decoration: none; /* No hover effect */
}

/* Media query for mobile */
@media (max-width: 768px) {
  .signUp_container {
    padding: 20px 30px; /* Reduce padding on mobile */
  }

  .formGroup {
    width: 90%; /* Slightly wider on mobile for better usability */
  }

  .nameFields {
    flex-direction: column;
    gap: 10px;
    width: 90%; /* Match formGroup width on mobile */
  }

  .signUp_Button {
    width: 90%; /* Match input width on mobile */
  }

  .centeredText {
    width: 90%; /* Match input width on mobile */
  }

  .signUp_container h2 {
    font-size: 22px; /* Slightly smaller heading on mobile */
  }
}
