.container__wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
   
}
.login__container {
    flex: 1;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 605px;
    height: 517px;
    /* max-width: 600px; */
    
    
}

.login__container h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #333;
    font-size: 24px;
}

.form {
    position: relative;
    margin-bottom: 30px;
}

.form label {
    display: block;
    margin-bottom: 10px;
    color: #121111;
    /* font-weight: bold; */
}
/* .parent{
    position: relative;

} */
.form input {
    background-color: #E7F0FE;
    width: 100%;
    padding: 12px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    font-size: 16px;
}

.form input:focus {
    outline: none;
    border-color: #dee2e6;
    box-shadow: 0 0 0 2px rgba(179, 180, 180, 0.25);
}
.form input:hover{
    box-shadow: 0 0 0 2px rgba(65, 5, 129, 0.25);
}

.login__button {
    /* position:absolute ; */
    width: 425px;
    padding: 12px;
    background-color: #526cf0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login__button:hover {
    background-color: #601eb5;
}

.forget {
    margin-top: 0px;
    padding-bottom: 50px;
    text-align: right;
} 

.forget a {
    color: #fa972b;
    text-decoration: none;
    font-size: 18px;
    display: block;
    /* margin: 0px 0; */
}
.signup {
    text-align: center;
    margin-top: 24px;
    color: #666;
   
}

.signup a {
    color: #fa972b;
    text-decoration: none;
    font-size: 18px;
    
}
.eye{
    position: sticky;
    position: absolute;
    right:3px;
    top: 8px;
    color: #EAC0C1;
}
.eye:hover{
    color: #fa972b;
}